 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/IMG_2915.JPG');
}

.u-section-1 .u-sheet-1 {
  min-height: 450px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 122px auto 0 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 18px auto 0 0;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 380px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 371px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 213px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 134px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 886px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 81px;
  margin-bottom: -65px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  width: 244px;
  height: 244px;
  background-image: url("images/4177dee1f84c3c767bad32efd0d41d885df4931c46126ea3b2acc298fe99ee3cd61de290a4edd84e73bdfc6bf9686d1e2148d8ac79f0ced8fbeeee_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 304px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  width: 244px;
  height: 244px;
  background-image: url("images/photo-1600965962454-fa4df84831bb.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 304px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 244px;
  height: 244px;
  background-image: url("images/30181271d5da1fec71a57d26a25a71295cb8144c1c85b7237e25abdfe02048fc78cf2c7cc7dd742bfb30cf06e11f73ff39f411595a582774b2fcc4_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 453px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 161px;
}

.u-section-2 .u-image-4 {
  width: 244px;
  height: 244px;
  background-image: url("images/photo-1588492069485-d05b56b2831d.jpeg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 10px 43px 0 auto;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 453px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 30px 167px;
}

.u-section-2 .u-image-5 {
  width: 244px;
  height: 244px;
  background-image: url("images/gf6127dd755feb3d69457e16a134e721500df191447b9681a6e921d8f92a648aef97dcca6db09cdf4f391cdbe339b3441_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 453px;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 20px 168px;
}

.u-section-2 .u-image-6 {
  width: 244px;
  height: 244px;
  background-image: url("images/4874ca4a8ac815adf95e7c540ced359e6a736d059848c1f1656a0757d8ad9508c98157fed290419d407ae3cd546c441677e987dd9b4936f73fd145_1280.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 12px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-2 .u-image-1 {
    width: 195px;
    height: 195px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-2 .u-image-2 {
    width: 195px;
    height: 195px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 374px;
  }

  .u-section-2 .u-image-4 {
    width: 195px;
    height: 195px;
    margin-right: 29px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 879px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 289px;
  }

  .u-section-2 .u-image-1 {
    height: 133px;
    width: 133px;
    margin-top: 71px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 289px;
  }

  .u-section-2 .u-image-2 {
    width: 133px;
    height: 133px;
    margin-top: 71px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 192px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 289px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-4 {
    height: 133px;
    width: 133px;
    margin-top: 71px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    width: 180px;
    height: 180px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 286px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-image-6 {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3200px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 350px;
    height: 350px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 350px;
    height: 350px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 432px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 73px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 433px;
    order: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    width: 350px;
    height: 350px;
    margin-top: 10px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 644px;
    order: 3;
  }

  .u-section-2 .u-layout-cell-6 {
    order: 2;
    min-height: 644px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2373px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 96px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 79px;
    margin-bottom: -27px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 273px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-2 .u-image-2 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-3 {
    width: 289px;
    height: 289px;
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-2 .u-image-4 {
    width: 300px;
    height: 300px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-image-5 {
    width: 295px;
    height: 295px;
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 405px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-6 {
    width: 295px;
    height: 295px;
    margin-top: 10px;
    margin-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 207px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 207px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  margin: 20px 0 0 20px;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0 20px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 207px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 23px 10px 0;
}

.u-section-3 .u-text-4 {
  margin: 17px 10px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 207px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: 16px auto 0;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  width: 96px;
  margin: 23px auto 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-3 .u-icon-4 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-3 .u-icon-5 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 153px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 171px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 171px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 171px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 888px;
  }
}